FLASK_DEBUG=1
FLASK_CONFIG=development
SECRET_KEY=secret_key
DEV_DATABASE_URL=postgresql+psycopg2://app:fe675065ad7e4c8981d1aa9128994a7c@dev-db:5432/app
APP_ADMIN=admin@example.com
APP_PASSWORD=password


POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=password