<!DOCTYPE html>
<html>
  <head>
    <title>FakeTube</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script src="{{ url_for('static', filename='js/commonActions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/userActions.js') }}"></script>

  </head>
  <body>
    
    <div id="pageContainer">

      <div id="mastHeadContainer">
        <button class="navShowHide">
          <img src="{{ url_for('static', filename='images/icons/menu.png') }}">
        </button>

        <a class="logoContainer" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/icons/VideoTubeLogo.png') }}" title="logo" alt="Site logo">
        </a>

        <div class="searchBarContainer">
          <form action="{{ url_for('search') }}" method="GET">
            <input type="text" class="searchBar" name="term" placeholder="Search...">
            <button class="searchButton">
              <img src="{{ url_for('static', filename='images/icons/search.png') }}">
            </button>
          </form>
        </div>

        <div class="rightIcons">
          <a href="{{ url_for('upload') }}">
            <img class="upload" src="{{ url_for('static', filename='images/icons/upload.png') }}">
          </a>
          <!--
          <a href="{{ url_for('profile') }}">
            <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
          </a>
          -->
          <a href="{{ url_for('signin') }}">
            <span class='signInLink'>SIGN IN</span>
          </a>
        </div>

      </div>

      <div id="sideNavContainer" style="display:none;">

      </div>

      <div id="mainSectionContainer">
        <div id="mainContentContainer">

          <!-- User does not exist 
          <h1>User does not exist</h1>
          -->

          <!-- profile -->
          <div class='profileContainer'>
            <div class='coverPhotoContainer'>
              <img src="{{ url_for('static', filename='images/coverPhotos/default-cover-photo.jpg') }}" class='coverPhoto'>
              <span class='channelName'>Cats</span>
            </div>
            <div class='profileHeader'>
              <div class='userInfoContainer'>
                <img class='profileImage' src="{{ url_for('static', filename='images/profilePictures/default.png') }}">
                <div class='userInfo'>
                  <span class='title'>Cat</span>
                  <span class='subscriberCount'>My cat plays ball.</span>
                </div>
              </div>

              <div class='buttonContainer'>
                <div class='buttonItem'>    
                  <div class='subscribeButtonContainer'>
                    <!-- subscribe button -->
                    <button class='subscribe button' onclick=''>
                      <span class='text'>Subscribe</span>
                    </button>
                    <!-- unsubscribe button
                    <button class='unsubscribe button' onclick=''>
                      <span class='text'>Subscribed</span>
                    </button>
                    -->
                  </div>
                </div>
              </div>

              <ul class='nav nav-tabs' role='tablist'>
                <li class='nav-item'>
                  <a class='nav-link active' id='videos-tab' data-toggle='tab' href='#' role='tab' aria-controls='videos' aria-selected='true'>VIDEOS</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link' id='about-tab' data-toggle='tab' href='#about' role='tab' aria-controls='about' aria-selected='false'>ABOUT</a>
                </li>
              </ul>
              <!-- no videos 
                <span>This user has no videos</span>
              -->

              <div class='tab-content channelContent'>
                <div class='tab-pane fade show active' id='videos' role='tabpanel' aria-labelledby='videos-tab'>

                  <!-- -->
                  <span>This user has no videos</span>
                  <!-- Grid
                  <div class='videoGridHeader'>
                    <div class='left'>

                    </div>
  
                    <div class='right'>
                      <span>Order by:</span>
                      <a href="#">Upload date</a>
                      <a href="#">Most viewed</a>
                    </div>
                  </div>
                  
                  <div class="videoGrid">

                  </div>
                  -->
                </div>
                <div class='tab-pane fade' id='about' role='tabpanel' aria-labelledby='about-tab'>
                    <div class='section'>
                      <div class='title'>
                        <span>Details</span>
                      </div>
                      <div class='values'>
                        <!-- User Details -->
                      </div>
                    </div>
                </div>
              </div>

            </div>
          </div>
          <!-- end of profile -->
        </div>
      </div>
    </div>
  </body>
</html>