<div class='itemContainer'>
  <div class='comment'>
    <a href="{{ url_for('page.profile', id=comment.user_id) }}">
      <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
    </a>

      <div class='mainContainer'>

          <div class='commentHeader'>
              <a href="{{ url_for('page.profile', username=comment.user.username) }}">
                  <span class='username'>{{ comment.user.username }}</span>
              </a>
              <span class='timestamp'>{{ comment.created_at }}</span>
          </div>

          <div class='body'>
            {{ comment.body }}
          </div>
      </div>

  </div>

  

  <div class='controls'>
    <button onclick="toggleReply(this)">
      <span class='text'>REPLY</span>
    </button>

    <span class='likesCount'>{{ comment.liked_by.count() - comment.disliked_by.count() }}</span>
    <button class='likeButton' onclick="likeComment({{ comment.id }}, this, {{ video.id }})">
      {% if comment.liked_by.filter_by(user_id=current_user.id).first() %}
      <img src="{{ url_for('static', filename='images/icons/thumb-up-active.png') }}">
      {% else %}
      <img src="{{ url_for('static', filename='images/icons/thumb-up.png') }}">
      {% endif %}
      <span class='text'></span>
    </button>
    <button class='dislikeButton' onclick="dislikeComment({{ comment.id }}, this, {{ video.id }})">
      {% if comment.disliked_by.filter_by(user_id=current_user.id).first() %}
      <img src="{{ url_for('static', filename='images/icons/thumb-down-active.png') }}">
      {% else %}
      <img src="{{ url_for('static', filename='images/icons/thumb-down.png') }}">
      {% endif %}
      <span class='text'></span>
    </button>
  </div>

  <div class='commentForm hidden'>
    <a href="{{ url_for('page.profile', username=current_user.username) }}">
      <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
    </a>
    <textarea class='commentBodyClass' placeholder='Add a public comment'></textarea>
    <button class='cancelComment' onclick='toggleReply(this)'>
      <span class='text'>Cancel</span>
    </button>
    <button class='postComment' onclick="postComment(this, {{ current_user.id }}, {{ comment.video_id }}, {{ comment.id }}, 'repliesSection')">
      <span class='text'>Reply</span>
    </button>
  </div>

  {% if replies.filter_by(reply_id=comment.id).count() != 0 %}
  <span class='repliesSection viewReplies' onclick="getReplies({{ comment.id }}, this, {{ video.id }})">
  View all {{ replies.filter_by(reply_id=comment.id).count() }} replies</span>

  {% else %}
  <div class='repliesSection'></div>
  {% endif %}
</div>