{% extends 'base.html' %}

{% block page_content %}

<div class="videoSection">
  {% if current_user.is_authenticated %}
  <div class='videoGridHeader'>
    <div class='left'>
      Videos that you have liked
    </div>
  </div>
  <div class='videoGrid'>
    {% for video in videos %}
    <a href="{{ url_for('page.watch', id=video.id) }}">
      <div class="videoGridItem">
        <div class='thumbnail'>
          <img src="{{ video.thumbnails.first().file_url }}">
          <div class='duration'>
            <span>{{ video.duration }}</span>
          </div>
        </div>
        <div class='details'>
          <h3 class='title'>{{ video.title }}</h3>
          <span class='username'>{{ video.user.username }}</span>
          <div class='stats'>
            <span class='viewCount'>{{ video.num_views }} views</span>
            <span class='timeStamp'>{{ video.created_at }}</span>
          </div>
          {{ video.description }}
        </div>
      </div>
    </a>
    {% endfor %}
    

  </div>

  {% endif %}

</div>

{% endblock %}