{% extends 'base.html' %}

{% block page_content %}

{% if user %}
<div class='profileContainer'>
  <div class='coverPhotoContainer'>
    <img src="{{ url_for('static', filename='images/coverPhotos/default-cover-photo.jpg') }}" class='coverPhoto'>
    <span class='channelName'>{{ user.first_name }} {{ user.last_name }}</span>
  </div>
  <div class='profileHeader'>
    <div class='userInfoContainer'>
      <img class='profileImage' src="{{ url_for('static', filename='images/profilePictures/default.png') }}">
      <div class='userInfo'>
        <span class='title'>{{ user.first_name }} {{ user.last_name }}</span>
        <span class='subscriberCount'>0</span>
      </div>
    </div>

    <div class='buttonContainer'>
      <div class='buttonItem'>
        {% if current_user.username != user.username %}
        <div class='subscribeButtonContainer'>
          <!-- subscribe button -->
          <button class='subscribe button' onclick=''>
            <span class='text'>Subscribe</span>
          </button>
          <!-- unsubscribe button
          <button class='unsubscribe button' onclick=''>
            <span class='text'>Subscribed</span>
          </button>
          -->
        </div>
        {% endif %}
      </div>
    </div>

    <ul class='nav nav-tabs' role='tablist'>
      <li class='nav-item'>
        <a class='nav-link active' id='videos-tab' data-toggle='tab' href='#videos' role='tab' aria-controls='videos' aria-selected='true'>VIDEOS</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' id='about-tab' data-toggle='tab' href='#about' role='tab' aria-controls='about' aria-selected='false'>ABOUT</a>
      </li>
    </ul>
    <!-- no videos 
      <span>This user has no videos</span>
    -->

    <div class='tab-content channelContent'>
      <div class='tab-pane fade show active' id='videos' role='tabpanel' aria-labelledby='videos-tab'>
        {% if videos %}
        
        {% for video in videos %}
        <div class="videoGrid">
          <a href="{{ url_for('page.watch', id=video.id) }}">
            <div class="videoGridItem">
              <div class='thumbnail'>
                <img src="{{ video.thumbnails.first().file_url }}">
                <div class='duration'>
                    <span>{{ video.duration }}</span>
                </div>
              </div>
              <div class='details'>
                <h3 class='title'>{{ video.title }}</h3>
                <span class='username'>{{ video.user.username }}</span>
                <div class='stats'>
                    <span class='viewCount'>{{ video.num_views }} views</span>
                    <span class='timeStamp'>{{ video.created_at }}</span>
                </div>
                {{ video.description }}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        {% else %}
        <span>This user has no videos</span>
        {% endif %}
      </div>
      <div class='tab-pane fade' id='about' role='tabpanel' aria-labelledby='about-tab'>
          <div class='section'>
            <div class='title'>
              <span>Details</span>
            </div>
            <div class='values'>
              <span>Name: {{ user.first_name }} {{ user.last_name }}</span>
              <span>Username: {{ user.username }} </span>
              <span>Subscribers: 0</span>
              <span>Total views: 0</span>
              <span>Sign up date: {{ user.created_at }}</span>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
{% else %}
<h1>User does not exist</h1>
{% endif %}
{% endblock %}