{% extends 'base.html' %}

{% block page_content %}

<div class="largeVideoGridContainer">
  {% if videos %}
  
  <div class='videoGridHeader'>
    <div class='left'>
      results found
    </div>
    
    <div class='right'>
      <span>Order by:</span>
      <a href="{{ url_for('page.search', term=term, orderBy='uploadDate') }}">Upload date</a>
      <a href="{{ url_for('page.search', term=term, orderBy='views') }}">Most viewed</a>
    </div>

  </div>

  <div class="videoGrid large">
  {% for video in videos %}
  <a href="{{ url_for('page.watch', id=video.id) }}">
    <div class="videoGridItem">
      <div class='thumbnail'>
        <img src="{{ video.thumbnails.first().file_url }}">
        <div class='duration'>
          <span>{{ video.duration }}</span>
        </div>
      </div>
      <div class='details'>
        <h3 class='title'>{{ video.title }}</h3>
        <span class='username'>{{ video.user.username }}</span>
        <div class='stats'>
          <span class='viewCount'>{{ video.num_views }} views</span>
          <span class='timeStamp'>{{ video.created_at }}</span>
        </div>
        {{ video.description }}
      </div>
    </div>
  </a>
  {% endfor %}
  </div>
  {% else %}
  No results found
  {% endif %}
</div>

{% endblock %}