{% extends 'base.html' %}

{% block page_content %}

{% if current_user.id == user.id %}
<div class="settingsContainer column">

  <!-- User Details -->
  <div class="formSection">
    <div class="message">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </div>

  <form action="{{ url_for('auth.settings', id=current_user.id) }}" method='POST' enctype='multipart/form-data'>
    <span class='title'>User details</span>

    {{ userForm.csrf_token }}
    <div class='form-group'>
      {{ userForm.first_name(class='form-control', placeholder=userForm.first_name.label.text) }}
    </div>

    <div class='form-group'>
      {{ userForm.last_name(class='form-control', placeholder=userForm.last_name.label.text) }}
    </div>

    <div class='form-group'>
      {{ userForm.email(class='form-control', placeholder=userForm.email.label.text) }}
    </div>
    <button type='submit' class='btn btn-primary' name='saveDetailsButton'>Save</button>
  </form>
  
  <!-- Password Details -->
  <div class="formSection">
    <div class="message">
    
    </div>
  </div>

  <form action="{{ url_for('auth.settings', id=current_user.id) }}" method='POST' enctype='multipart/form-data'>
    <span class='title'>Update password</span>

    {{ passwordForm.csrf_token }}
    {% for error in passwordForm.csrf_token.errors %}
      <ul>
        <li>{{ error }}</li>
      </ul>
      {% endfor %}
    <div class='form-group'>
      {{ passwordForm.old_password(class='form-control', placeholder=passwordForm.old_password.label.text) }}
      {% for error in passwordForm.old_password.errors %}
      <ul>
        <li>{{ error }}</li>
      </ul>
      {% endfor %}
    </div>
    <div class='form-group'>
      {{ passwordForm.password(class='form-control', placeholder=passwordForm.password.label.text) }}
      {% for error in passwordForm.password.errors %}
      <ul>
        <li>{{ error }}</li>
      </ul>
      {% endfor %}
    </div>
    <div class='form-group'>
      {{ passwordForm.password2(class='form-control', placeholder=passwordForm.password2.label.text) }}
      {% for error in passwordForm.password2.errors %}
      <ul>
        <li>{{ error }}</li>
      </ul>
      {% endfor %}
    </div>
    <button type='submit' class='btn btn-primary' name='savePasswordButton'>Save</button>
  </form>

</div>
{% else %}


{% endif %}
{% endblock %}
