{% extends 'base.html' %}

{% block page_content %}
<div class="column">
  <form action="{{ url_for('auth.upload') }}" method='POST' enctype='multipart/form-data'>
    {{ form.csrf_token() }}

    <div class='form-group'>
      {{ form.video.label(id='exampleFormControlFile1') }}
      {{ form.video(class='form-control-file', id='exampleFormControlFile1') }}
    </div>

    <div class='form-group'>
      {{ form.title(class='form-control', placeholder=form.title.label.text) }}
    </div>

    <div class='form-group'>
      {{ form.description(class='form-control', placeholder=form.description.label.text) }}
    </div>

    <div class='form-group'>
      {{ form.is_private(class='form-control') }}
    </div>

    <div class='form-group'>
      {{ form.category(class='form-control') }}
    </div>

    <button type='submit' class='btn btn-primary' name='saveButton'>Save</button>
  </form>
</div>

<script>
  $("form").submit(function() {
    $("#loadingModal").modal("show");
  });
</script>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
      <div class="modal-body">
        Please wait. This might take a while.
        <img src="{{ url_for('static',filename='images/icons/loading-spinner.gif') }}">
      </div>        
    </div>
  </div>
</div>
{% endblock %}