{% extends 'base.html' %}

{% block page_content %}
<script src=" {{ url_for('static', filename='js/videoPlayerActions.js') }}"></script>
<script src=" {{ url_for('static', filename='js/commentActions.js') }}"></script>
<div class="watchLeftColumn">
  <video class='videoPlayer' controls>
    <source src="{{ video.file_url }}" type='video/mp4'>
    Your browser does not support the video tag
  </video>

  <div class='videoInfo'>
    <h1>{{ video.title }}</h1>

    <div class='bottomSection'>
        <span class='viewCount'>{{ video.num_views }} views</span>
        <div class='controls'>
          {% if current_user.is_authenticated %}
          <button class='likeButton' onclick="likeVideo(this, {{ video.id }})">
            {% if video.liked_by.filter_by(user_id=current_user.id).first() %}
            <img src="{{ url_for('static', filename='images/icons/thumb-up-active.png') }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/icons/thumb-up.png') }}">
            {% endif %}
            <span class='text'>{{ video.liked_by.count() }}</span>
          </button>
          <button class='dislikeButton' onclick="dislikeVideo(this, {{ video.id }})">
            {% if video.disliked_by.filter_by(user_id=current_user.id).first() %}
            <img src="{{ url_for('static', filename='images/icons/thumb-down-active.png') }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/icons/thumb-down.png') }}">
            {% endif %}
            <span class='text'>{{ video.disliked_by.count() }}</span>
          </button>
          {% else %}
          <button class='likeButton'>
            <img src="{{ url_for('static', filename='images/icons/thumb-up.png') }}">
            <span class='text'>{{ video.liked_by.count() }}</span>
          </button>
          <button class='dislikeButton'>
            <img src="{{ url_for('static', filename='images/icons/thumb-down.png') }}">
            <span class='text'>{{ video.disliked_by.count() }}</span>
          </button>
          {% endif %}
        </div>
    </div>
  </div>

  <div class='secondaryInfo'>
    <div class='topRow'>
      <a href="{{ url_for('page.profile', username=video.user.username) }}">
        <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
      </a>

      <div class='uploadInfo'>
        <span class='owner'>
          <a href='#'>
          {{ video.user.username }}
          </a>
        </span>
        <span class='date'>{{ video.created_at }}</span>
      </div>
        <!-- edit or subscribe -->
        {% if current_user.is_authenticated %}
        {% if current_user.username == video.user.username %}
        <div class='editVideoButtonContainer'>
          <a href="{{ url_for('auth.editVideo', id=video.id) }}">
            <button class='edit button'>
                <span class='text'>EDIT VIDEO</span>
            </button>
          </a>
        </div>
        {% else %}

        <div class='subscribeButtonContainer'>
          {% if video.user.subscribers.filter_by(subscriber_id=current_user.id).first() %}
          <button class='unsubscribe button' onclick="subscribe({{ video.user.id }}, {{ current_user.id }}, this)">
            <span class='text'>Subscribed {{ video.user.subscribers.count() }}</span>
          </button>
          {% else %}
          <button class='subscribe button' onclick="subscribe({{ video.user.id }}, {{ current_user.id }}, this)">
            <span class='text'>Subscribe {{ video.user.subscribers.count() }}</span>
          </button>
          {% endif %}
        {% endif %}
        {% endif %}
    </div>

    <div class='descriptionContainer'>
        {{ video.description }}
    </div>
  </div>

  <div class='commentSection'>

    <div class='header'>
        <span class='commentCount'>{{ comments.count() }} Comments</span>

        {% if current_user.is_authenticated %}
        <div class='commentForm'>
          <a href="{{ url_for('page.profile', username=current_user.username) }}">
            <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
          </a>
          <textarea class='commentBodyClass' placeholder='Add a public comment'></textarea>
          <button class='postComment' onclick="postComment(this, {{ current_user.id }}, {{ video.id }}, null, 'comments')">
            <span class='text'>COMMENT</span>
          </button>
        </div>
        {% endif %}
    </div>

    <div class='comments'>
      {% for comment in comments %}
      <div class='itemContainer'>
        <div class='comment'>
          
          <a href="{{ url_for('page.profile', username=comment.user.username) }}">
            <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
          </a>

          <div class='mainContainer'>

            <div class='commentHeader'>
              <a href="{{ url_for('page.profile', username=comment.user.username) }}">
                <span class='username'>{{ comment.user.username }}</span>
              </a>
              <span class='timestamp'>{{ comment.created_at }}</span>
            </div>

            <div class='body'>
              {{ comment.body }}
            </div>
          </div>

        </div>
        {% if current_user.is_authenticated %}
        <div class='controls'>
          <button onclick="toggleReply(this)">
            <span class='text'>REPLY</span>
          </button>
      
          <span class='likesCount'>{{ comment.liked_by.count() - comment.disliked_by.count() }}</span>
          <button class='likeButton' onclick="likeComment({{ comment.id }}, this, {{ video.id }})">
            {% if comment.liked_by.filter_by(user_id=current_user.id).first() %}
            <img src="{{ url_for('static', filename='images/icons/thumb-up-active.png') }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/icons/thumb-up.png') }}">
            {% endif %}
            <span class='text'></span>
          </button>
          <button class='dislikeButton' onclick="dislikeComment({{ comment.id }}, this, {{ video.id }})">
            {% if comment.disliked_by.filter_by(user_id=current_user.id).first() %}
            <img src="{{ url_for('static', filename='images/icons/thumb-down-active.png') }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/icons/thumb-down.png') }}">
            {% endif %}
            <span class='text'></span>
          </button>
        </div>
        <div class='commentForm hidden'>
          <a href="{{ url_for('page.profile', username=current_user.username) }}">
            <img src="{{ url_for('static', filename='images/profilePictures/default.png') }}" class='profilePicture'>
          </a>
          <textarea class='commentBodyClass' placeholder='Add a public comment'></textarea>
          <button class='cancelComment' onclick='toggleReply(this)'>
            <span class='text'>Cancel</span>
          </button>
          <button class='postComment' onclick="postComment(this, {{ current_user.id }}, {{ video.id }}, {{ comment.id }}, 'repliesSection')">
            <span class='text'>Reply</span>
          </button>
        </div>
        {% endif %}
        {% if replies.filter_by(reply_id=comment.id).count() != 0 %}
        <span class='repliesSection viewReplies' onclick="getReplies({{ comment.id }}, this, {{ video.id }})">
          View all {{ replies.filter_by(reply_id=comment.id).count() }} replies</span>

        {% else %}
        <div class='repliesSection'></div>
        {% endif %}

      </div>
      {% endfor %}
    </div>

  </div>
</div>

<div class="suggestions">
  <!-- suggestion videos -->
  
</div>
{% endblock %}
